<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎使用自动部署平台网站 - Welcome to auto deploy website</title>
    <meta name="keywords" content="自动部署,自动部署平台">
    <meta name="description" content="该平台可实现组件和服务的一键部署和升级">


    <link rel="stylesheet" type="text/css" href="/static/css/jquery/smoothness/jquery-ui-1.10.3.custom.css">
    <script type="text/javascript" src="/static/js/jquery/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery-ui-1.10.3.custom.js"></script>


    <link rel="stylesheet" href="/static/css/template.css" type="text/css" />
    <script type="text/javascript" src="/static/js/template.js"></script>

</head>
<body>

<!--=============header===============-->
<div id="header">
    <div id="header_logo">
        <a href="../index">
            <img src="/static/imgs/logo_white.png">
        </a>
    </div>
    <div id="header_content">
        <a href="../index" style="text-decoration: none; color:black">
            <p1>自动化部署平台</p1>
        </a>
    </div>
</div>
<!--=============aside===============-->
<div id="aside">
    <ul id="aside_menu">
        <li ><a href="/get_global_config_page/">全局配置</a></li>
        <li>-</li>
        <li class="ui-state-disabled"><a href="#">主机列表</a></li>
        <li>-</li>
        <li class="ui-state-disabled"><a href="#">部署配置</a></li>
        <li>-</li>
        <li class="ui-state-disabled"><a href="#">正在部署</a></li>
        <li>-</li>
        <li class="ui-state-disabled"><a href="#">部署结果</a></li>
        <li>-</li>
        <li class="ui-state-disabled"><a href="#">服务管理</a></li>
    </ul>
</div>


</body>
</html>



